body {
    margin: 0
}

::-webkit-scrollbar {
    height: 12px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    display: none;
}

@font-face {
    font-family: "Minecraft";
    src: url("https://data.justinsoberano.com/files/fonts/minecraft/minecraftregular-bmg3-webfont.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Minecraft";
    src: url("https://data.justinsoberano.com/files/fonts/minecraft/minecraftitalic-r8mo-webfont.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "Minecraft";
    src: url("https://data.justinsoberano.com/files/fonts/minecraft/minecraftbold-nmk1-webfont.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Minecraft";
    src: url("https://data.justinsoberano.com/files/fonts/minecraft/minecraftbolditalic-1y1e-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}