html,
body {
  overscroll-behavior: none;
}

.layout-wrapper {
  position: relative;
  max-width: 768px;
  width: 100%;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 64px 32px;
  border-left: 1px solid #282828;
  border-right: 1px solid #282828;
  background-color: rgba(18, 18, 18, 0.6);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  z-index: 1;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1), 0 0 100px rgba(0, 0, 0, 0.8);
}

section {
  padding: 24px 0;
  border-bottom: 1px solid #88888850;
}

@media (max-width: 768px) {
  .container {
    padding: 32px 20px;
    border-left: none;
    border-right: none;
    box-shadow: none;
  }

  section {
    padding: 16px 0;
  }
}