@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg: rgb(18, 18, 18);
  --primary-text: rgb(225, 225, 225);
  --font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::selection {
  background-color: #800000;
  color: white;
}

::-moz-selection {
  background-color: #8B0000;
  color: white;
}

body {
  font-family: var(--font-family-main);
  font-weight: 300;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-family-code);
}
